In [37]:
import pandas as pd
import scipy.stats as stats

In [38]:
add = pd.read_csv("Advertising.csv")

In [39]:
add

     Sl No     TV  Radio  Newspaper  Sales
0        1  230.1   37.8       69.2   22.1
1        2   44.5   39.3       45.1   10.4
2        3   17.2   45.9       69.3    9.3
3        4  151.5   41.3       58.5   18.5
4        5  180.8   10.8       58.4   12.9
..     ...    ...    ...        ...    ...
195    196   38.2    3.7       13.8    7.6
196    197   94.2    4.9        8.1    9.7
197    198  177.0    9.3        6.4   12.8
198    199  283.6   42.0       66.2   25.5
199    200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [40]:
add.isnull().sum()

Sl No        0
TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [41]:
adv = add.drop(["Sl No"],axis = 1)

In [42]:
adv.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [43]:
adv.mean()

TV           147.0425
Radio         23.2640
Newspaper     30.5540
Sales         14.0225
dtype: float64

In [44]:
adv.min()

TV           0.7
Radio        0.0
Newspaper    0.3
Sales        1.6
dtype: float64

In [45]:
adv.max()

TV           296.4
Radio         49.6
Newspaper    114.0
Sales         27.0
dtype: float64

In [46]:
adv.median()

TV           149.75
Radio         22.90
Newspaper     25.75
Sales         12.90
dtype: float64

In [47]:
adv.quantile([.25,.5,.75])

           TV   Radio  Newspaper   Sales
0.25   74.375   9.975      12.75  10.375
0.50  149.750  22.900      25.75  12.900
0.75  218.825  36.525      45.10  17.400

In [48]:
#H0 :amount spent for the three advertisements are equal.
#Ha :amount spent for the three advertisements are not equal.

In [49]:
f_val,p_val = stats.f_oneway(adv["TV"], adv["Radio"], adv["Newspaper"])
print("F Value :", f_val)
print("P Value :", p_val)

F Value : 358.8514595342597
P Value : 4.552931539744962e-103

In [50]:
alpha = 0.05
if p_val > alpha:
   print("Accept the null hypothesis")
elif p_val < alpha:
    print("Reject the null hypothesis")

Reject the null hypothesis

Since P Value < Alpha ie 4.552931539744962e-103 < 0.05 We reject the null Hypothesis.

that means the amount spend for the three advertisements are not equal.